html {
    width: 100%;
    height: 100%;
    background-color: #696969;
}

.root {
    background-color: black;
}

.rendered {
    width: 80%;
    height: 80%;
    color: #ffffff;
    background-color: #525252;
    margin-top: 30px;
    opacity: 100%;
    border-radius: 25px
}

/* Nav */

.nav-text {
    font-size: 1.5em;
    padding-top: 5px;
    padding-left: 10px;
}

/* About Page */

.portrait {
    width: 80%;
    height: auto;
}

.scroll-container {
    border-radius: 5px;
    height: 100px;
    overflow: hidden;
}

.scroll-text {
    list-style-type: none;
    height: 480%;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  
    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 20s linear infinite;
}


/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

/* Portfolio Page */

.proj-img {
    display: flex;
    justify-content: center;
    max-width: 400px;
    max-height: 100px;
    overflow: hidden;
}

.link-icon {
    width: 20px;
    height: 20px;
}

/* Resume */

.resume-button {
    background-color: #252525;
    margin-top: 26px;
    padding: 15px;
    border-radius: 30px;
    color: #ffffff;
    border: 5px solid #BDBDBD;
    box-shadow: none;
}

.resume-button:hover {
    animation: resume-shadow 1s infinite;
}

@keyframes resume-shadow {
    50% {
        box-shadow: #ffffff 0px 0px 15px;
    }
}

.resume-button:active {
    margin-top: 36px;
    box-shadow: inset 0px -10px 15px #e44800;
}

/* Contact */

.contact-head {
    padding-top: 10px;
}

input {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

textarea {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 30px;
    border-radius: 20px;
}

.submit-btn {
    background-color: #252525;
    margin-top: 26px;
    padding: 15px;
    border-radius: 30px;
    color: #ffffff;
    border: 5px solid #BDBDBD;
    box-shadow: none;
}

/* Footer */

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 8px;
    width: 100%;
    background-color: #db6300;
}

.icon {
    width: 2%;
    height: 2%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}

.icon:hover {
    animation: myshadow 1s infinite;
}

@keyframes myshadow {
    50% {
        box-shadow: #ffffff 0px 0px 15px;
    }
}

.icon:active {
    opacity: 50%;
}